#matchBoard{
	background:#CCC;
	border:#999 1px solid;
	width:550px;
	height:425px;
	padding:24px;
	margin:0px auto;
}

#rowOne span, #rowTwo span, #rowThree span {
			border:#000 1px solid;
			width:71px;
			height:71px;
			float:left;
			margin:10px;
			padding:20px;
			font-size:64px;
			cursor:pointer;
			text-align:center;
}